:root {
  --black: #000;
  --white: #fff;
  --navy-blue: #05386b;
  --garden-green: #116466;
  --pale-green: #def2f1;
  --muted-red: #961e1e;
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

body {
  font-family: "Arimo", sans-serif;
  background-color: var(--navy-blue);
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
header .info {
  background-color: var(--navy-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

header .info a {
  color: var(--white);
}

.info {
  padding-top: 0.625rem;
}

nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--garden-green);
  padding: 0.5rem 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.nav-links li {
  text-decoration: none;
  padding-right: 1.875rem;
}

.nav-links a {
  color: var(--white);
}

nav ul li a:hover {
  color: var(--navy-blue);
}

.nav-search {
  margin-right: 0.3125rem;
  display: flex;
  border-radius: 0.3125rem;
  overflow: hidden;
}

.nav-search button {
  background-color: var(--navy-blue);
  color: white;
}

.ticker {
  overflow: hidden;
  background-color: var(--muted-red);
}

.ticker .ticker_content {
  display: flex;
  align-items: center;
  height: 3.125rem;
  color: var(--white);
  animation: ticker 30s linear infinite;
}
.ticker .ticker_content > span {
  font-size: 1rem;
  margin-right: 2.5rem;
  white-space: nowrap;
  display: inline-block;
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-2720.808px, 0, 0);
  }
}
.info-bar {
  background-color: var(--white);
}
.alert-info {
  text-align: center;
  padding: 1rem 2rem;
}

main {
  margin-top: 0.1875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  color: var(--white);
  display: flex;
  width: 70%;
  height: auto;
  border-radius: 0.625rem;
  background-color: var(--garden-green);
  justify-content: center;
  margin-bottom: 3.125rem;
  flex-direction: column;
  align-items: center;
}

.welcome-card {
  background-image: url("../images/surgery.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 35vh;
}

h1 {
  font-size: 5rem;
  font-size: var(--font-size-xxl);
  -webkit-text-stroke: 1px black;
  color: var(--white);
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
  text-align: center;
}

.card-welcome {
  padding: 2.5rem 0px;
}

.address {
  background-color: var(--white);
  font-style: normal;
  color: black;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border: 0.125rem solid black;
}

h2 {
  text-align: center;
}
video {
  max-width: 80%;
}

.card-form {
  padding: 2.5rem 0px;
}

.form-card {
  background-color: var(--pale-green);
  border-radius: 0.625rem;
  padding: 0.625rem;
  margin: 0.625rem;
}

fieldset {
  color: var(--garden-green);
  border: 0.125rem solid var(--navy-blue);
}

.form-card fieldset > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}

.form-card fieldset div:first-of-type {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

div input,
div textarea {
  padding: 0.3125rem 0.625rem;
  border-color: var(--white);
}

div label {
  width: auto;
}

.form-submit {
  background-color: var(--navy-blue);
  color: var(--white);
  border-color: var(--black);
  width: 100%;
}

footer {
  display: flex;
  margin-top: 1.875rem;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background-color: var(--navy-blue);
  border-top: 0.3125rem solid var(--garden-green);
  color: var(--white);
}

@media (max-width: 37.5rem) {
  nav,
  nav ul {
    flex-direction: column;
    line-height: 1.4rem;
  }
}
